n8n-report-workflow.json
{
  "name": "02 - Send Playwright Allure Report by Email",
  "nodes": [
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "playwright-report-receiver",
      "parameters": {
        "httpMethod": "POST",
        "path": "playwright-report",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {}
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Get GitHub Artifacts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.github.com/repos/BalamuruganGnanakumar/playwrightdemo/actions/runs/' + $json.body.run_id + '/artifacts' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REPLACE_WITH_YOUR_GITHUB_TOKEN"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Extract Allure Report Artifact",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300],
      "parameters": {
        "jsCode": "const runConclusion = $('Webhook').first().json.body.conclusion;\nconst artifacts = $input.first().json.artifacts;\nconst allureArtifact = artifacts.find(a => a.name === 'allure-report');\n\nif (!allureArtifact) {\n  throw new Error('allure-report artifact not found in GitHub Actions run');\n}\n\nreturn [\n  {\n    json: {\n      artifact_id: allureArtifact.id,\n      artifact_download_url: allureArtifact.archive_download_url,\n      conclusion: runConclusion,\n      artifact_name: allureArtifact.name\n    }\n  }\n];"
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Download Allure Report ZIP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.artifact_download_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REPLACE_WITH_YOUR_GITHUB_TOKEN"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          },
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 5
            }
          }
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Send Report Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1250, 300],
      "parameters": {
        "fromEmail": "REPLACE_WITH_SENDER_EMAIL",
        "toEmail": "balamurugan.gnanakumar@periscope-tech.com",
        "subject": "={{ 'Playwright Test Report - ' + $('Extract Allure Report Artifact').first().json.conclusion.toUpperCase() }}",
        "html": "=<h2>Playwright Test Execution Complete</h2>\n<p><strong>Status:</strong> {{ $('Extract Allure Report Artifact').first().json.conclusion }}</p>\n<p>Please find the Allure HTML report attached as a ZIP file.</p>\n<p>Extract the ZIP and open <strong>index.html</strong> in your browser to view the full report.</p>",
        "attachmentsUi": {
          "attachmentsBinary": [
            {
              "property": "data"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_SMTP_CREDENTIAL_ID",
          "name": "SMTP Account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get GitHub Artifacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get GitHub Artifacts": {
      "main": [
        [
          {
            "node": "Extract Allure Report Artifact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Allure Report Artifact": {
      "main": [
        [
          {
            "node": "Download Allure Report ZIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Allure Report ZIP": {
      "main": [
        [
          {
            "node": "Send Report Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
